.inputWrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  input {
    flex-grow: 1;
  }

  .status {
    display: flex;
    position: absolute;
    right: 0.8rem;
    font-size: 12px;
    cursor: help;
  }
}
