@import './colors.scss';

* {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type='email'],
input[type='password'] {
  border: 1px solid $primary-light;
  border-radius: 0.4rem;
  line-height: 40px;
  padding: 0 0.8rem;
  transition: all 0.3s ease-in-out;
  width: 100%;

  &:focus {
    outline-color: $primary-light;
  }
}

button {
  background-color: $secondary;
  color: $white;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  height: 40px;
  min-width: 150px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
